<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.kedu.nodazi.mapper.UserMapper">
	<insert id = "regist">
	insert into user(u_nm,u_id,u_pw,u_email,u_mobile)
	values(#{u_nm},#{u_id},#{u_pw},#{u_email},#{u_mobile})
	</insert>
	
	<select id="login" resultType="com.kedu.nodazi.dto.UserDto">
	select u_id,u_pw,u_nm from user
	where u_id = #{u_id} and u_pw=#{u_pw} and u_withraw = 0
	</select>
	
	<insert id = "payment">
		insert into payment(u_id,p_account,p_dep_nm,p_dep_bank)
		values(#{u_id},#{p_account},#{p_dep_nm},#{p_dep_bank})
	</insert>
	
	<select id = "info">
		select u_id,u_nm,u_email,u_mobile,u_regdt from user
		where u_id= #{u_id}
	</select>
</mapper>